@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.505);
}

.l-header {
  padding: 30px;
  position: relative;
  z-index: 2;
}

.l-header__cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-header__title a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-family: cursive;
  display: block;
}

.l-header__cat input,
.l-header__cat label {
  display: none;
}

.l-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-header__menu span {
  position: relative;
}

.l-header__menu span::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 0;
  height: 1px;
  background: #fff;
  opacity: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
          transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.l-header__menu:hover span::after {
  opacity: 1;
  left: 0;
  width: 100%;
}

.l-header__navi a {
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.1rem;
  color: #fff;
}

li {
  list-style: none;
}

.keyVisual {
  position: relative;
  background-image: url(../../assets/img/kv.jpg);
  background-position: center right;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  min-height: 660px;
}

.keyVisual__logo {
  font-family: fantasy;
  font-size: 5rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 20px 20px 2px #000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

l-contact {
  max-width: 100%;
}

/*<--Concept-->*/
.l-section {
  margin-bottom: 160px;
}

.concept__inner {
  max-width: 1080px;
  margin: auto;
  padding: 120px 0 0;
}

.l-section__title {
  font-size: 36px;
  font-family: fantasy;
  font-weight: bold;
  margin: 60px 0;
  position: relative;
  text-align: center;
}

.l-section__title::after {
  content: "";
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -5px;
  left: 50%;
  width: 20px;
  height: 2px;
  border-bottom: 2px solid;
}

/*<--画像と文章を並べる-->*/
.concept__cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.concept__img {
  width: calc(50% - 40px);
}

.concept__img > img {
  width: 100%;
}

.concept__info {
  width: calc(50% - 40px);
  height: 630px;
  overflow-y: auto;
}

.subtitle {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
}

.subtitle::before,
.subtitle::after {
  content: "";
  display: inline-block;
  width: 32px;
  height: 2px;
  background-color: #000;
  vertical-align: 5px;
  margin: 0 10px;
}

.concept__text p {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 1.5;
}

/*<--application-->*/
.application__cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.application__logo {
  width: 60%;
}

.application__logo__bg {
  background-image: url(../../assets/img/application-mac.jpg);
  width: 100%;
  height: 580px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
  display: inline-block;
}

.application__info {
  display: inline-block;
  width: 40%;
  top: 70%;
  left: 60%;
  position: absolute;
}

.application--bg {
  padding-left: 60px;
  position: relative;
}

.application--bg::before {
  width: calc(100% + 200px);
  content: "";
  position: absolute;
  background-color: #f4f4f4;
  height: calc(100% + 200px);
  right: 0;
  bottom: -100px;
  z-index: -1;
}

.application__info .subtitle {
  text-align: left;
}

.application__text p {
  line-height: 2;
  overflow-y: hidden;
  height: 100px;
}

.application__text p:first-letter {
  font-weight: bold;
  font-size: 1.2rem;
}

/*<--Gallery-->*/
.gallery__inner {
  margin-top: 50px;
}

.gallery__img {
  width: 100%;
  height: 400px;
  background: url(../../assets/img/gallery-1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.gallery__bg {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.gallery__info {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.gallery__text {
  position: absolute;
  top: 60%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
}

/*<--カード（自分）-->*/
/*<--SNS-->*/
.l-card {
  max-width: 1280px;
  margin: 0 auto;
}

.card__inner {
  max-width: 1080px;
  margin: 0 auto;
}

/*<--親にflex-->*/
.card__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__list {
  /*-16は隙間*/
  width: calc((100% / 3)- 16px);
  padding: 16px;
  margin-bottom: 60px;
}

.card__list h3 {
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.card__img {
  margin-bottom: 16px;
  border: 2px solid;
}

.card__img img {
  display: block;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__list:nth-child(3n) {
  padding-right: 0;
}

.card__list:nth-child(n+4) {
  margin-bottom: 0;
}

/*<--Contact-->*/
.content__info {
  max-width: 1080px;
  margin: 0 auto;
}

.contact__title__name::after {
  background: url(../../assets/img/紙とペンのアイコン素材.jpeg);
  content: "";
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-left: 15px;
  font-size: 20px;
  margin: 7px 10px 10px 0;
  margin-left: 15px;
}

.contact__title__mail::after {
  background: url(../../assets/img/メールの無料アイコンその6.jpeg);
  content: "";
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-left: 15px;
  font-size: 20px;
  margin: 7px 10px 10px 0;
  margin-left: 15px;
}

.contact__title__tel::after {
  background: url(../../assets/img/コーリングアイコン.jpeg);
  content: "";
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-left: 15px;
  font-size: 20px;
  margin: 7px 10px 10px 0;
  margin-left: 15px;
}

.contact__title__contacts::after {
  background: url(../../assets/img/コメントアイコン7.jpeg);
  content: "";
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-left: 15px;
  font-size: 20px;
  margin: 7px 10px 10px 0;
  margin-left: 15px;
}

form {
  width: 1080px;
  height: auto;
  margin: 0 auto;
}

input {
  width: 100%;
  height: 15px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.081);
  padding: 10px;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
}

/*<--FAQ-->*/
.faq__inner {
  width: 1080px;
  margin: 0 auto;
}

/*<--フッター-->*/
footer {
  max-width: 1080px;
  margin: 0 auto;
}

footer p {
  text-align: center;
  padding: 16px;
  font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
  /*<--レスポンシブ画面の全体の文字サイズ調整-->*/
  html {
    font-size: 16px;
  }
  /*<--ヘッダー-->*/
  .l-header {
    padding: 10px;
  }
  .l-header__title a {
    font-size: 1.2rem;
  }
  /*<--ハンバーガーメニュー-->*/
  .header__cat input,
  .header__cat label {
    display: block;
  }
  .header__cat input {
    display: none;
  }
  .header__cat label {
    position: absolute;
    right: 10px;
    clear: both;
  }
}

@media screen and (max-width: 768px) and (max-width: 768px) {
  span.hamburger__icon {
    display: inline-block;
    width: 35px;
    height: 25px;
  }
  span.hamburger__icon i {
    /*<--三本線押した時の動作-->*/
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: block;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  span.hamburger__icon i:nth-child(1) {
    top: 0;
  }
  span.hamburger__icon i:nth-child(2) {
    margin: auto;
    top: 0;
    bottom: 0;
  }
  span.hamburger__icon i:nth-child(3) {
    bottom: 0;
  }
}

@media screen and (max-width: 768px) and (max-width: 768px) {
  .header__cat input:checked + label span.hamburger__icon i:nth-child(1) {
    /*<--1番目の線を45度傾ける-->*/
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    margin: auto;
  }
}

@media screen and (max-width: 768px) and (max-width: 768px) {
  .header__cat input:checked + label span.hamburger__icon i:nth-child(2) {
    /*<--2番目の線を90度傾ける-->*/
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 0;
    bottom: 0;
  }
}

@media screen and (max-width: 768px) and (max-width: 768px) {
  .header__cat input:checked + label span.hamburger__icon i:nth-child(3) {
    margin: auto;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0;
    right: 0;
    bottom: 0;
  }
}

@media screen and (max-width: 768px) and (max-width: 768px) {
  .l-header__cat input:checked ~ .l-header__navi {
    z-index: 99;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  /*<--ヘッダー固定-->*/
}

@media screen and (max-width: 768px) and (max-width: 768px) {
  .l-header__navi {
    position: fixed;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.7);
    top: 50px;
    right: 0;
    /*<--元に戻る-->*/
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }
}

@media screen and (max-width: 768px) and (max-width: 768px) {
  .l-header__wrap {
    width: 100%;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-property: right;
    transition-property: right;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 768px) and (max-width: 768px) {
  .l-header__cat input,
  .l-header__cat label {
    display: block;
  }
}

@media screen and (max-width: 768px) and (max-width: 768px) {
  .l-header__list {
    margin: 0;
    display: block;
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
  }
}

@media screen and (max-width: 768px) and (max-width: 768px) {
  .l-header__menu {
    border-bottom: 1px solid #000;
  }
}

@media screen and (max-width: 768px) and (max-width: 768px) {
  .l-header__menu a {
    padding: 0 50px;
    color: #000;
    font-size: 24px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 700;
    line-height: 1;
    -webkit-transition: background-color .3 ease-in-out;
    transition: background-color .3 ease-in-out;
  }
}

@media screen and (max-width: 768px) {
  /*<--kV-->*/
  .keyVisual {
    width: 100%;
    text-align: center;
  }
  .keyVisual__logo {
    font-size: 2.5rem;
  }
  /*<--concept-->*/
  .l-section {
    margin: 60px;
  }
  .concept__inner {
    padding: 60px 24px 0;
  }
  .concept__cat {
    display: block;
  }
  .concept__img {
    width: 100%;
    margin-bottom: 30px;
  }
  .concept__info {
    width: 100%;
    height: 400px;
  }
  /*<--アプリケーション->*/
  .l-section {
    margin-bottom: 60px;
  }
  .application__inner {
    position: static;
    display: block;
  }
  .application___cat {
    display: block;
    position: static;
  }
  application__logo {
    width: 100%;
  }
  .application__logo__bg {
    height: 500px;
  }
  .application__info {
    width: 100%;
  }
  .application--bg {
    padding: 30px;
    background-color: #f4f4f4;
  }
  .application--bg::before {
    content: none;
  }
  .application__info .subtitle {
    text-align: center;
  }
  .l-section {
    margin-bottom: 60px;
  }
  /*<--終了-->*/
}

l-faq {
  max-width: 1080px;
  margin: 0 auto;
  padding: 120px 0 0;
}

.l-faq-inner {
  margin: 0 auto 50px;
  padding: 60px 90px;
  background-color: rgba(194, 194, 208, 0.1);
}

.faq-checkbox {
  display: none;
}

.faq-label {
  cursor: pointer;
  display: block;
  max-width: 1080px;
  margin: 0 auto;
  text-align: left;
  padding: 24px;
  background-color: #fff;
  font-size: 16px;
  -webkit-box-shadow: 0 10px 55px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 55px rgba(0, 0, 0, 0.05);
  position: relative;
}

.faq-label::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 24px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../../assets/img/faq_off.svg) no-repeat 50%;
  background-size: contain;
  width: 25px;
  height: 25px;
}

.faq-checkbox:checked + .faq-label::after {
  background: url(../../assets/img/faq_on.svg) no-repeat 50%;
  background-size: contain;
}

.faq-accordion {
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.faq-checkbox:checked + .faq-label + .faq-accordion {
  max-height: 120px;
  visibility: visible;
}

.faq-answer {
  background-color: rgba(37, 117, 252, 0.8);
  padding: 40px 24px 40px 3em;
  color: #fff;
  font-size: 16px;
  text-indent: -1em;
}

[data-modal="trigger"] {
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin-top: 24px;
  color: #108de8;
}

[data-modal="trigger"]::after {
  content: "全部開いてみてね";
}

.modal-checkbox:checked ~ [data-modal="trigger"]::after {
  content: "モーダルを閉じる";
}

.modal-checkbox:checked ~ [data-modal="trigger"] {
  z-index: 1;
  position: fixed;
  bottom: 130px;
}

.faq-modal {
  display: none;
}

.modal-checkbox:checked ~ .faq-modal {
  display: block;
}

.faq-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.faq-modal__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.9);
}

.faq-modal__content {
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  height: 400px;
  padding: 20px 30px;
  background-color: #fff;
}

.faq-modal__content__title {
  padding: 16px 0 32px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.modal-checkbox {
  display: none;
}

@media screen and (max-width: 768px) {
  .faq-inner {
    padding: 20px 30px;
  }
  .faq-label {
    padding: 24px 36px 24px 24px;
  }
  .faq-label::after {
    right: 16px;
    width: 18px;
    height: 18px;
  }
  .faq-checkbox:checked + .faq-label + .faq-accordion {
    max-height: 224px;
  }
  .modal-checkbox:checked ~ [data-modal="trigger"] {
    bottom: 72px;
  }
  .faq-modal__content {
    overflow-y: auto;
  }
}

.contact__btn {
  position: relative;
  margin-top: 100px;
  width: 1080px;
  margin: 0 auto;
}

.contact__btn__cat {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 24px 110px;
  border: 1px solid;
  border-radius: 3px;
  -webkit-transition: all 0.2;
  transition: all 0.2;
  margin: 100px auto 0;
  font-weight: bold;
  font-size: 20px;
}

.contact__btn__cat:hover {
  background-color: rgba(255, 186, 90, 0.875);
  cursor: pointer;
  opacity: 0.7;
  color: #fff;
  border-radius: 15px;
}
/*# sourceMappingURL=style.css.map */